<?xml version="1.0" encoding="UTF-8"?>
<plugin
    id="sysml-docgen-mdk"
    name="SysML DocGen MDK"
    version="3.0.0"
    provider-name="SysML DocGen">
  <requires>
    <api version="1.0"/>
  </requires>
  <runtime>
    <library name="sysml-docgen-mdk.jar"/>
  </runtime>
  <class>org.sysmldocgen.mdk.SysmlDocGenPlugin</class>
</plugin>
